@font-face { font-family: Akiba; src: url('shinAkibapunx.ttf'); } 
@font-face { font-family: Akiba; font-weight: bold; src: url('shinAkibapunx_bold.ttf');}
@font-face { font-family: Akiba; src: url('shinAkibapunx_bolital.ttf'); }