*{
	margin: 0;
	padding: 0;
}
html,
body{
	height: 100%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
img{
	width: auto;
	height: auto;
	max-width: 100%;
}
/*header*/
.header{
	background: #EEEFF1;
	padding-top: 57px;
}

  /*menu*/
	.nav_menu ul{
		list-style: none;
		display: flex;
		justify-content: flex-end;
	}
		.nav_menu ul li a{
			padding-right: 42px;
			font-weight: 500;
			font-size: 16px;
			line-height: 26px;
			color: #34547A;
			transition: 0.5s;
		}
			.nav_menu ul li a:hover{
				text-decoration: none;
				color: #03d5e4;
			}
		.nav_menu ul li:last-child a{
			padding-right: 0
		}
.responsive_menu{
	display: none;
}
  /*menu*/
/*header*/

/*banner*/
.banner{
	background: #EEEFF1;
	padding-top: 165px;
	padding-bottom: 146px;
}
.banner_img img{
	margin: 0 auto;
	display: block;
}
.banner_img{
	padding-top: 20px;
}
.text_baner h1{
	font-weight: 500;
	font-size: 48px;
	line-height: 79px;
	color: #000000;
	padding-bottom: 60px;
	margin-bottom:0;
}
.text_baner p{
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #727272;
	padding-bottom: 60px;
}
.btn_banner{
	background: #34547A;
	display: block;
	border: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
	padding: 19px 34px;
	transition: 0.3s linear;
}
.btn_banner:hover{
	background: #03d5e4;
}
/*banner*/

/*about*/
.about{
	padding: 100px 0;
}
.about h2{
	font-weight: 500;
	font-size: 32px;
	line-height: 37px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}
.about p{
	max-width: 540px;
	margin: 0 auto;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #727272;
}
/*about*/

/*video*/
.video{
	padding: 100px 0;
	background:#EEEFF1;
}
.youtube {
	width: 100%;
	height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
	background-size: cover;
}
.youtube .play {
    background: url(../img/play.png) no-repeat; 
    background-position: 0 0px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 100px;
    width: 100px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube .play:hover  {
    background-position: 0 -100px;
}
.video iframe{
	width: 100%;
	height: 600px;
}
/*video*/
.gallery{
	display: flex;
	flex-wrap: wrap;
	margin-top: 28px;
}
.box_galery{
	width: 25%;
	position: relative;
	display: block;
    max-height: 360px;
    overflow: hidden;
}
.box_galery:hover:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../img/view.png") no-repeat, linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8));
	background-position: center center;
}
/*video*/
/*slider*/
.Slider{
	padding: 100px 0;
}
.Slider .owl-dots{
	display: flex;
	justify-content: center;
}
.Slider .owl-dots .owl-dot.active{
	background: #03d5e4;
}
.Slider .owl-dots .owl-dot{
	width: 15px;
	height: 15px;
	background: #34547A;
	border-radius: 100px;
	margin-right: 2px;
	outline: none;
}
/*slider*/
.tab_parent{
	background:#EEEFF1;
	padding: 100px 0;
}
.tab_parent ul.nav li a{
	background: #34547A;
	color: #fff;
	display: block;
	padding: 10px 15px;
	transition: all 0.6s linear;
}
.tab_parent ul.nav li a:hover,
.tab_parent ul.nav li a.active{
	background: #03d5e4;
}
.tab-content .tab-pane{
	padding: 20px;
	border: 1px solid #ccc;
	background: #fff;
}