*{
	margin: 0;
	padding: 0;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}
html, body {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
img{
	width: auto;
	height: auto;
	max-width: 100%;
}
.for-page {
  min-height: 100%;
  position: relative;
}
.page {
  overflow: hidden !important;
}
.container {
  padding: 0 !important;
}

.col {
  padding: 0 !important;
}

p {
  margin: 0 !important;
}
h1 {
  margin: 0 !important;
}
h2 {
  margin: 0 !important;
}
h4 {
  margin: 0 !important;
}

h3 {
  margin: 0 !important;
}


/* OWL */
.owl-carousel{
  object-fit: cover;
  object-position: right top;
  padding-right: 24px;
  align-items: center;
}
/* OWL */
/* SECTION-1 */
.section-1 {
  height: 81px;
}
.logo {
  padding-top: 41px;
  padding-bottom: 13px;
}
.nav {
  padding-top: 36px;
  padding-bottom: 12px;
}
.gam {
  display: none;
}
.gamico{
  width: 40px;
  height: 40px;
}

.nav-link{
  color: #000000;
  transition: all 0.5s;
}

.nav-link:hover{
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
background-position-x: right;
background-position-y: center;
transition: all 0.5s;
}

.nav-item {
font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
}

/* SECTION-1 */
/* SECTION-2 */
.section-2-h1 {
  padding-top: 117px;
}

.section-2-h1 h1 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 82px;
letter-spacing: 2px;
color: #FF8A56;
}

.section-2-h1-text-p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: 2px;
  color: #000000;
}

.section-2-text {
  padding-top: 27px;
}
.section-2-text-p {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #666666;
}

.section-2-btns {
  padding-top: 38px;
}

.section-2-link{
text-decoration: none;
padding: 17px 30px 23px 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #000000;
transition: all 0.7s;
}

.section-2-link:hover{
  text-decoration: none;
  background-color: #000000;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
transition: all 0.7s;
}

.face {
  padding-top: 70px;
  padding-bottom: 20px;
}
/* SECTION-2 */

/* SECTION-3 */
.section-3 {
max-width: 862px;
margin: 0 auto;
}

.section-3-p {
text-align: center;
padding-top: 77px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #000000;
margin: 0;
}

.slider1 {
  padding-top: 45px;
}

.item22 {
  width: 141px; 
} 


/* SECTION-3


/* SECTION-4 */

.section-4 {
  padding-top: 156px;

}
.section-4 h4{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 22px;
text-align: center;
letter-spacing: 4px;
text-transform: uppercase;
color: #FF5E69;
}

.section-4 h2{
  padding-top: 16px;
  padding-left: 165px;
  padding-right: 165px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  text-align: center;
  letter-spacing: 1px;
  color: #000000;
}

/* SECTION-4 */

/* SECTION-5 */
.section-5 {
  padding-top: 115px;
  max-width: 1098px;
  margin: 0 auto;
}

.section-5-p-1 {
  padding-top: 39px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
color: #000000;
}

.section-5-p-2 {
  padding-top: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #666666;
}

.section-5-ul {
  padding-top: 21px;
  padding-bottom: 100px;
}

.s5-item {
padding-bottom: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
color: #000000;
}
/* SECTION-5 */


/* SECTION-6 */
.section-6 {
  padding-top: 90px;
  padding-bottom: 80px;
}

/* .section-6-title{
  padding-top: 76px;
} */
.section-6-title p{
  margin: 0;
}

.rowcarousel{
  margin-right: -180px !important;
}

.section-6-title-1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #B16CEA;
}

.section-6-title-2 {
  padding-top: 22px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #000000;
}

.sect-6-btn-area {
  padding-top: 133px;
}

.section-6-btn {

width: 201px;
height: 58px;
background-color: #000000;

}


#sect-6-link{  
text-decoration: none;
padding: 17px 30px 23px 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
display: block;
text-align: center;
transition: all 0.7s;
}

#sect-6-link:hover{  
  color: #000000;
  background-color: #FFFFFF;
  transition: all 0.7s;
}

/* SECTION-6 */


/* SECTION-7 */

.owl-item-s6{
  padding-top: 65px;
}

.owl-item-s6-padding{
 overflow: hidden;
 padding: auto;
 margin: auto;
}

#arrow-slide {
  padding-left: 5px;
  max-width: 14px;
}

.s6-text-block{
  background-color: white;
}
.s6-text-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}


.s6-text-1{
  padding-top: 33px;
  padding-left: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px; 
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #3C46FF;
}
.s6-text-2{
  padding-top: 15px;
  padding-left: 32px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 26px;
color: #000000;
}


.s6-text-flex img{
  padding-top: 20px;
  max-width: 14px;
}

.s6-text-flex {
  padding-bottom: 32px;
}

.s6-text-flex a{
  padding-right: 10px;
  padding-top: 19px;
  padding-left: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  transition: all 1s;
}
.s6-text-flex a:hover{
  text-decoration: none;
  color: #0000ff;
  padding-right: 20px;
  transition: all 1s;
}
/* SECTION-7 */


/* SECTION-8 */

.section-8 {
  background: #000000;
  padding-top: 276px;
  margin-top: -237px;
}




#s8-p1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFA84B;
  padding-bottom: 16px;
}
#s8-p2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #FFFFFF;
  padding-bottom: 35px;
}
#s8-p3{
  text-decoration: none;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #ffffff;
}

#s8-p3:hover{

text-decoration: none;
color: #0000ff;
padding-right: 16px;

}
#s8-p3 img {
  padding-left: 19px;
}

.s8-news-text {
  padding-bottom: 23px;
  padding-top: 62px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-end;
}



.s8-news-text img{
  padding-left: 8px;
  padding-right: 3px;
}

.s8-news-text-1{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.s8-news-text-2{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
color: rgba(255, 255, 255, 0.7);
}

.s8-news-text-3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  color: #FFFFFF;
  padding-bottom: 41px;
}


.s8-news-link{
padding-bottom: 36px;
}

.s8-news-link a::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 2%;
  background: rgba(255, 255, 255, 0.3);
  pointer-events: none;
  margin-top: 55px;
  }

.s8-news-link a{
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
}

.s8-news-link a:hover{
  text-decoration: none;
  color: #0000ff;
padding-right: 30px;
}

.wArrow{
  padding-left: 19px;
}

/* SECTION-8 */


/* SECTION-9 */

/* .section-9 {
  padding-top: ;
} */

.section-9-main{
  padding-top: 160px;  
  padding-bottom: 142px;
}

#s9-h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FF5E69;
  padding-top: 15px;
  padding-bottom: 15px;
}
#s9-h3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #000000;
}

.section-9-main2 {
  padding-top: 165px;
  padding-bottom: 115px;
}

.s9-p{
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 40px;
color: #666666;
}

/* ----------------------------------------------FANCYBOX */
.gallery-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: nowrap;
}
.gallery-1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.gallery-1 a img{
  padding-right: 15px;
}
.gallery-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: flex-end;
}
/* .box-gal{

} */
/* ----------------------------------------------FANCYBOX */

/* SECTION-9 */


/* SECTION-10 */

.section-10{
  padding-top: 90px;
  padding-bottom: 155px;
}

.pic-title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.pic-title img{
  margin-right: 10px;
}

.s10-mainFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.s10-list-1{
padding-top: 86px;
}
.s10-list-2{
  padding-top: 86px;
}

.s10-list-2 img{
  max-width: 50px;
  max-height: 50px;
}

.s10-padding-top{
  padding-top: 35px;
}

.s10-list-1-1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.s10-list-2-1{
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  border-bottom: solid 1px #E5E5E5;
  border-radius: 0px;
}

.s10-top-top{
  padding-top: 35px;
}

.s10icona{
  margin-right: 20px;
  min-height: 50px;
  min-width: 50px;
}

.s10IMGflex{
  display: flex;
}

.s10-list-2-1-1{
  display: flex;
  align-items: flex-end;
}
.s10-list-1-1-1{
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.s10-list-1-1-1:hover{
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  color: #1900bee1;
}
.s10-list-1-1-2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.s10-list-1-1-3{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  padding-right: 60px;
}
.dates10{
  padding-left: 101px;
}

.dates10-1 {
  padding-left: 163px;
}

.s10-list-1 img{
  max-width: 25px;
  max-height: 25px;
}

.s10-box{
  padding-bottom: 63px;
  border-bottom: solid 1px #E5E5E5;
  border-radius: 0px;
}


/* SECTION-10 */


/* SECTION-11 */

.section-11{
  padding-top: 76px;
  padding-bottom: 160px;
}

.section-11 h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4353FF;
}
.section-11 h3{
  padding-top: 26px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #000000;
}

.section-11 .owl-item-s11 {
  display: flex;
}

.s11textblock {
  max-width: 540px;
  padding-top: 90px;
  display: flex;
  flex-direction: column;
}

.owl-item-photo {
  margin-right: 146px;
  padding-top: 106px;
}


/* .owl-item-tex{
display: flex;
} */

.owl-item-text img{
  padding-top: 80px;
  margin-bottom: 0;
  max-width: 44px;
}

.s11textblock img {
  padding-top: 25px;
  margin-bottom: 0;
  max-width: 44px;
}
.flex-ppp {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.flex-p-p {
  display: flex;
  flex-direction: column;
}
.owl-item-text #s11p1{
  padding-top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  padding-bottom: 112px;
}
.owl-item-text #s11p2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.owl-item-text #s11p3{
  padding-top: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.flex-p-nav{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-right: 235px;
}
.flex-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.owl-nav{
  display: flex;
  justify-content: flex-end;
}


.owl-prev{
  width: 54px;
  height: 54px;
  background-color: #000000;
  background-image: url("../img/LARR.png");
  background-position: center;
  background-repeat: no-repeat;
}

.owl-next{
  width: 54px;
  height: 54px;
  background-color: #000000;
  background-image: url("../img/RARR.png");
  background-position: center;
  background-repeat: no-repeat;
}


/* SECTION-11 */


/* SECTION-12 */

.section-12{
padding-top: 78px;
padding-bottom: 71px;
background-color: #000000;
}

.s12-main h2{
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FF8A56;
}

.s12-main h3 {
  padding-top: 14px;
  padding-bottom: 146px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

/* acordeon */

.card {
  background-color: rgba(255, 255, 255, 0) !important;
    background-clip: border-box;
    border-bottom: 1px solid rgba(229, 229, 229, 0.3) !important;
    border-radius: 0 !important;
  }

.card-header {
  padding-bottom: 50px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 26px !important;
}


.btn.focus, .btn:focus{
  box-shadow: none !important;
}

.card .btn{
  padding: 0 !important;
}

.btn-link:hover {
  color: #000454 !important;
  text-decoration: none !important;
}

.btn-link:visited{
  text-decoration: none !important;
}

.btn-link{
text-decoration: none !important;
font-family: 'Roboto' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 24px !important;
line-height: 31px !important;
letter-spacing: 0.3px !important;
color: #FFFFFF !important;
}

.collapse-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.accordion>.card>.card-header{
  border-radius: 0 !important;
    margin-bottom: 0px !important;
}

#collapseOne {
  color: #FFFFFF;
}
#collapseTwo {
  color: #FFFFFF;
}
#collapseThree {
  color: #FFFFFF;
}
#collapseFour {
  color: #FFFFFF;
}
#collapseFive {
  color: #FFFFFF;
}
#collapseSix {
  color: #FFFFFF;
}
#collapseSeven {
  color: #FFFFFF;
}
#collapseEight {
  color: #FFFFFF;
}


/* acordeon */

/* SECTION-12 */



/*______________FOOTER__________________________*/

footer {
  left: 0;
  bottom: 0;
  /* width: 100%; */
  background-color: #000000;
}

.footer_tittle {
  padding-top: 184px;
  padding-bottom: 20px;
}

.footer_tittle h2 {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 59px;
letter-spacing: 1px;
color: #FFFFFF;
}

.footer_tittle a{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 59px;
color: #3C46FF;
}
.footer_tittle a:hover{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 59px;
  color: #0d18e4;
  text-decoration: none;
  }

.footer-1ul {
  padding-top: 77px;
  display: flex;
  flex-direction: column;
}

.footer-li1-item1{
padding-bottom: 14px;
}
.footer-li1-item2{
padding-bottom: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #666666;
}
.footer-li1-item3{
padding-bottom: 30px;
}
.footer-li1-item3 a{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 36px;
  color: #5C5C5C;
}
.footer-li1-item3 a:hover{
text-decoration: none;
color: #0d18e4;
}

.footer-navList1 {
  padding-top: 77px;
  display: flex;
  flex-direction: column;
}

.footer-navList1-list a{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #FFFFFF;
padding-bottom: 40px;
}

.footer-navList1-list a:hover{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #0d18e4;
  text-decoration: none;
  }


.breadcrumb{
  background-color: #000000 !important;
  padding-top: 125px !important;
}

.breadcrumb-item,
.breadcrumb a{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #8A95AD;
}
.breadcrumb a:hover{
  color: #0d18e4;
  text-decoration: none;
}


/* MODAL FORM */

form {
  overflow: hidden;
  margin: 0 auto;
  padding: 30px 30px 6px 30px;
  min-width: 320px;
  max-width: 520px;
  width: 100%;
  border: 1px solid rgba(120,120,120,.7);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(60, 63, 65, 0.9); 
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
  box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
}
/* общие стили для полей ввода */
textarea, input{
  display:block;    
  margin-bottom:20px;
  padding-right:20px;
  padding-left:20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; 
  color:#fff;
  font-weight: 300;
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
}
/* поле текстового сообщения */
textarea{
  overflow:hidden;
  width: 100%;
  height: 110px;
  border: 1px solid rgba(255,255,255,.6);
  background: rgba(255, 255, 255, 0.4); 
}
/* формируем поля ввода */
input {
  width: 100%;
  height: 48px;
  border: 1px solid rgba(255,255,255,.4);
}
input[type=submit] {
  cursor:pointer;
}
input.name {
  background: rgba(255, 255, 255, 0.4); 
  padding-left:25px;
}
input.email {
  background: rgba(255, 255, 255, 0.4);
  padding-left:25px;
}
input.message {
  background: rgba(255, 255, 255, 0.4);
  padding-left:25px;
}

/* поля ввода при фокусе */
input:focus, textarea:focus { 
  background-color: rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
  box-shadow: 0 0 5px 1px rgba(255,255,255,.5);
  overflow: hidden; 
}
/* скрываем текст полей ввода при фокусе */
:focus::-webkit-input-placeholder { color:transparent; }
:focus::-moz-placeholder { color:transparent; }
:focus::placeholder { color:transparent; }

/* Стили для кнопки отправить */
.btn12 {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #253737;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#6da5a3), to(#416b68));
  background: -webkit-linear-gradient(top, #6da5a3, #416b68);
  background: -moz-linear-gradient(top, #6da5a3, #416b68);
  background: -ms-linear-gradient(top, #6da5a3, #416b68);
  background: -o-linear-gradient(top, #6da5a3, #416b68);
  background-image: -ms-linear-gradient(top, #6da5a3 0%, #416b68 100%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(255,255,255,0.1) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  color: #e1e1e1;
  outline: none;
}
.btn12:hover {
  border: 1px solid #253737;
  background: #416b68;
  background: -webkit-gradient(linear, left top, left bottom, from(#77b2b0), to(#416b68));
  background: -webkit-linear-gradient(top, #77b2b0, #416b68);
  background: -moz-linear-gradient(top, #77b2b0, #416b68);
  background: -ms-linear-gradient(top, #77b2b0, #416b68);
  background: -o-linear-gradient(top, #77b2b0, #416b68);
  background-image: -ms-linear-gradient(top, #77b2b0 0%, #416b68 100%);
  color: #fff;
}
.btn12:active {
  margin-top:1px;
  border: 1px solid #333333;
  background: #ffCC00;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffCC00), to(#ff6600));
  background: -webkit-linear-gradient(top, #ffcc00, #ff6600);
  background: -moz-linear-gradient(top, #ffcc00, #ff6600);
  background: -ms-linear-gradient(top, #ffcc00, #ff6600);
  background: -o-linear-gradient(top, #ffcc00, #ff6600);
  background-image: -ms-linear-gradient(top, #ffcc00 0%, #ff6600 100%);
  -webkit-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  box-shadow: rgba(255,255,255,0) 0 1px 0, inset rgba(255,255,255,0.7) 0 1px 0;
  color: #fff;
}

/* MODAL FORM */