* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.catalogCard h2 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 33px;
  line-height: 56px;
  color: black;
}
.catalogCard .model {
  font-family: 'Cardo';
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  line-height: 37px;
  color: black;
}
.catalogCard .price {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: black;
}
.catalogCard .description {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #525252;
}
.catalogCard .options {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #54595f;
  text-decoration: none;
  display: block;
  transition: 400ms ease;
}
.catalogCard .options:hover {
  color: #3a3a3a;
  font-size: 16.5px;
}
.catalogCard .btn_shopNow {
  display: inline-block;
  text-decoration: none;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 1px;
  color: black;
  border-bottom: 1px solid black;
  transition: 400ms ease-in-out;
}
.catalogCard .btn_shopNow:hover {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.catalogCard .new {
  font-family: 'Cardo';
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 29px;
  color: #bc1414;
}
body .page {
  background: #f7f7f7;
}
body .page .header {
  padding: 20px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 40px;
}
body .page .header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .page .header .container nav .mainMenu {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  transition: 400ms ease;
}
body .page .header .container nav .mainMenu .itemMenu:not(:last-child) {
  margin-right: 20px;
}
body .page .header .container nav .mainMenu .itemMenu a {
  text-decoration: none;
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: black;
}
body .page .header .container nav .mainMenu .itemMenu:hover a {
  opacity: 0.7;
}
body .page .header .container nav .responsiveMenu {
  text-decoration: none;
  color: #020202;
  font-size: 28px;
  font-weight: 700;
  transition: 400ms ease;
  display: none;
}
body .page .header .container nav .responsiveMenu:hover {
  transform: scale(1.1);
}
body .page .header .container nav .active {
  color: lightslategray;
}
body .page .header .logo {
  text-decoration: none;
}
body .page .header .logo img {
  transition: 400ms ease;
}
body .page .header .logo img:hover {
  transform: scale(1.1);
}
body .page .banner {
  padding: 255px 20px 300px;
  background: url(../img/bg_banner.jpg) center / cover no-repeat;
  position: relative;
}
body .page .banner .container h1 {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 27px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: white;
  margin-bottom: 30px;
}
body .page .banner .container .btn_DiscoverNow {
  background: transparent;
  padding: 5.5px 38px;
  font-family: 'Cardo';
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: white;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  transition: 400ms ease-in-out;
}
body .page .banner .container .btn_DiscoverNow:hover {
  background: rgba(50, 50, 50, 0.3);
  color: rgba(250, 250, 250, 0.7);
  border: 1px solid rgba(250, 250, 250, 0.7);
}
body .page .banner .container .btn_DiscoverNow:focus {
  outline: none;
}
body .page .banner .btn_DecorStyle {
  background: #050505;
  padding: 15px 32px;
  font-family: 'PalatinoLinotype';
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 400ms ease;
  position: absolute;
  left: 20px;
  bottom: 0;
}
body .page .banner .btn_DecorStyle:hover {
  color: rgba(250, 250, 250, 0.7);
}
body .page .features {
  padding: 45px 20px;
}
body .page .features .container .featureWrapper {
  padding: 5px 0;
}
body .page .features .container .featureWrapper span {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.2px;
  color: black;
  margin-left: 10px;
}
body .page .gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 85px;
}
body .page .gallery .galleryImg {
  width: 25%;
  overflow: hidden;
}
body .page .gallery .galleryImg img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
body .page .cloe {
  margin: 30px 0;
  position: relative;
  padding: 45px 0 157px;
}
body .page .cloe::after {
  width: 62%;
  height: 100%;
  content: "";
  background: url(../img/cloe.jpg) center center / cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
body .page .cloe .container .catalogCard {
  position: relative;
  z-index: 9;
}
body .page .cloe .container .catalogCard .description {
  margin-bottom: 65px;
}
body .page .pelican {
  margin: 30px 0;
  position: relative;
  padding: 95px 0 65px;
}
body .page .pelican::after {
  width: 62%;
  height: 100%;
  content: "";
  background: url(../img/pelican.jpg) center center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
body .page .pelican .container .catalogCard {
  position: relative;
  z-index: 9;
}
body .page .pelican .container .catalogCard .price {
  margin-bottom: 20px;
}
body .page .pelican .container .catalogCard .description {
  margin-bottom: 25px;
}
body .page .pelican .container .catalogCard .options {
  margin-bottom: 45px;
}
body .page .alada {
  margin: 30px 0;
  position: relative;
  padding: 45px 0 40px;
}
body .page .alada::after {
  width: 62%;
  height: 100%;
  content: "";
  background: url(../img/alada.jpg) center center / cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
body .page .alada .container .catalogCard {
  position: relative;
  z-index: 9;
}
body .page .alada .container .catalogCard .price {
  margin-bottom: 45px;
}
body .page .alada .container .catalogCard .description {
  margin-bottom: 25px;
}
body .page .alada .container .catalogCard .options {
  margin-bottom: 45px;
}
body .page .alba {
  margin: 30px 0;
  position: relative;
  padding-top: 48px;
}
body .page .alba::after {
  width: 62%;
  height: 100%;
  content: "";
  background: url(../img/alba.jpg) center center / cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
body .page .alba .container .catalogCard {
  position: relative;
  z-index: 9;
}
body .page .alba .container .catalogCard .price {
  margin-bottom: 20px;
}
body .page .alba .container .catalogCard .description {
  margin-bottom: 25px;
}
body .page .alba .container .catalogCard .options {
  margin-bottom: 45px;
}
body .page .alba .container .catalogCard .btn_shopNow {
  margin-bottom: 55px;
}
body .page .batea {
  margin: 30px 0;
  position: relative;
  padding: 95px 0 30px;
}
body .page .batea::after {
  width: 62%;
  height: 100%;
  content: "";
  background: url(../img/batea.jpg) center center / cover no-repeat;
  position: absolute;
  top: 0;
  right: 0;
}
body .page .batea .container .catalogCard {
  position: relative;
  z-index: 9;
}
body .page .batea .container .catalogCard .price {
  margin-bottom: 45px;
}
body .page .batea .container .catalogCard .description {
  margin-bottom: 25px;
}
body .page .batea .container .catalogCard .options {
  margin-bottom: 45px;
}
body .page .ourProducts {
  padding: 30px 160px;
  text-align: center;
}
body .page .ourProducts h3 {
  font-family: 'Cardo';
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  color: #3a3a3a;
  margin-bottom: 20px;
}
body .page .ourProducts p {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: black;
  margin-bottom: 35px;
}
body .page .ourProducts .owl-carousel .slide {
  width: auto;
  max-height: 550px;
  overflow: hidden;
  position: relative;
}
body .page .ourProducts .owl-carousel .slide img {
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
}
body .page .ourProducts .owl-carousel .slide a {
  text-decoration: none;
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  color: white;
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 9;
  transition: 400ms ease;
}
body .page .ourProducts .owl-carousel .slide a i {
  color: white;
  font-size: 14px;
  transition: 400ms ease;
  vertical-align: middle;
}
body .page .ourProducts .owl-carousel .slide:hover a,
body .page .ourProducts .owl-carousel .slide:hover i {
  font-size: 20px;
}
body .page .ourProducts .owl-theme .owl-dots .owl-dot.active span {
  background: rgba(0, 0, 0, 0.5);
}
body .page .ourProducts .owl-theme .owl-dots .owl-dot span {
  width: 9px;
  height: 9px;
  background: black;
  border-radius: 0px;
  margin: 5px 3px;
}
body .page .ourProducts .owl-theme .owl-dots .owl-dot:hover span {
  transform: scale(1.2);
}
body .page .ourProducts .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}
body .page .reviews {
  padding: 80px 100px;
  text-align: center;
  background: #F6F6F6;
}
body .page .reviews .feedback {
  font-family: 'Cardo';
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  color: #020202;
  margin-bottom: 45px;
}
body .page .reviews .author {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: black;
  margin-bottom: 45px;
}
body .page .reviews .owl-carousel .slide {
  width: auto;
  overflow: hidden;
}
body .page .reviews .owl-theme .owl-dots .owl-dot.active span {
  transform: scale(3);
}
body .page .reviews .owl-theme .owl-dots .owl-dot.active + .owl-dot span {
  transform: scale(2);
}
body .page .reviews .owl-theme .owl-dots .owl-dot span {
  width: 4px;
  height: 4px;
  background: black;
  border-radius: 0px;
  margin: 5px 10px;
  transition: 1.5s ease;
}
body .page .reviews .owl-theme .owl-dots .owl-dot:hover span {
  background: rgba(0, 0, 0, 0.5);
}
body .page .reviews .owl-theme .owl-dots .owl-dot:focus {
  outline: none;
}
body .page .blog {
  background: white;
  display: flex;
  flex-wrap: wrap;
}
body .page .blog .article {
  width: 25%;
  padding: 50px 30px;
  text-align: center;
  font-family: 'Cardo';
  font-weight: 400;
  color: black;
}
body .page .blog .article img {
  max-width: 97px;
  height: auto;
  width: auto;
  margin-bottom: 35px;
}
body .page .blog .article h3 {
  font-size: 24px;
  line-height: 35px;
  margin-bottom: 10px;
}
body .page .blog .article .desc {
  font-size: 15px;
  line-height: 27px;
  max-width: 300px;
  margin: 0 auto 25px;
}
body .page .blog .article .btn_learnMore {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 15px;
  color: inherit;
  border-bottom: 1px solid black;
  transition: 400ms ease-in-out;
}
body .page .blog .article .btn_learnMore:hover {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
body .page .blog .footprint,
body .page .blog .wood {
  background: #F8F8F8;
}
body .page .customers {
  padding: 130px 20px 80px;
}
body .page .customers p {
  font-family: 'Cardo';
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.3px;
  color: #454545;
  text-align: center;
  margin-bottom: 40px;
}
body .page .customers .customersLogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .page .customers .customersLogo div {
  width: 10%;
  transition: 400ms ease;
  text-align: center;
}
body .page .customers .customersLogo div img {
  max-width: 100%;
  width: auto;
  height: auto;
}
body .page .customers .customersLogo div:hover {
  transform: scale(1.1);
}
body .page footer {
  padding: 50px 20px 75px;
  background: #E9E9E9;
}
body .page footer .container {
  font-family: 'Cardo';
  font-weight: 400;
  color: black;
}
body .page footer .container h3 {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
body .page footer .container .subMenu {
  list-style: none;
  margin-bottom: 40px;
}
body .page footer .container .subMenu li {
  margin-bottom: 10px;
}
body .page footer .container .subMenu li a {
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
}
body .page footer .container .subMenu li:hover a {
  color: rgba(0, 0, 0, 0.5);
}
body .page footer .container .content h4 {
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 20px;
}
body .page footer .container .content .btn_Subscription {
  background: white;
  padding: 8px 40px;
  border: 1px solid black;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 0px auto 30px;
}
body .page footer .container .content .btn_Subscription:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}
body .page footer .container .content .btn_Subscription:focus {
  outline: none;
}
body .page footer .container .content img {
  margin-bottom: 20px;
}
body .page footer .container .content img:nth-child(3) {
  margin-right: 40px;
}
body .page footer .container .copyright {
  font-size: 12px;
  line-height: 22px;
}
body .page footer .container .terms a {
  font-size: 11px;
  line-height: 22px;
  text-decoration: none;
  color: black;
}
body .page footer .container .terms a:hover {
  color: rgba(0, 0, 0, 0.5);
}
body .page footer .container .terms span {
  font-size: 11px;
  line-height: 22px;
  font-family: 'Cardo';
}
body .page .modal {
  box-shadow: 1px 1px 10px 1px black;
}
body .page .modal .modal-content {
  background: linear-gradient(45deg, #cccccc 0%, #999999 100%);
  padding: 0 10px;
}
body .page .modal .modal-content .close {
  color: #54595f;
  font-size: 20px;
  opacity: 1;
  text-shadow: none;
  margin-bottom: 20px;
  transition: transform 400ms ease;
}
body .page .modal .modal-content .close:focus,
body .page .modal .modal-content .close:hover {
  transform: scale(1.2);
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
}
body .page .modal .modal-content .close:not(:disabled):not(.disabled) {
  outline: none;
}
body .page .modal .modal-content .close:not(:disabled):not(.disabled) span {
  outline: none;
}
body .page .modal .modal-content form {
  display: block;
}
body .page .modal .modal-content form input,
body .page .modal .modal-content form textarea {
  width: 100%;
  background: rgba(250, 250, 250, 0.8);
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 5px 20px;
  margin-bottom: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}
body .page .modal .modal-content form input::placeholder,
body .page .modal .modal-content form textarea::placeholder {
  font-family: 'Cardo';
  color: #54595f;
  transition: 0.3s;
}
body .page .modal .modal-content form input:hover::placeholder,
body .page .modal .modal-content form textarea:hover::placeholder {
  color: rgba(50, 50, 50, 0.5);
}
body .page .modal .modal-content form textarea {
  resize: none;
}
body .page .modal .modal-content .btn_modal {
  padding: 5px 40px;
  margin: 10px 0;
  color: #54595f;
  font-family: 'Cardo';
  font-weight: 700;
  letter-spacing: 0.5px;
  background: transparent;
  border: 1px solid #54595f;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
body .page .modal .modal-content .btn_modal:hover {
  background: rgba(250, 250, 250, 0.7);
}
body .page .fade {
  transition: backdrop-filter 400ms ease;
  backdrop-filter: blur(5px);
}
body .modal-backdrop {
  background-color: transparent;
}
