
*,
::before,
::after {
    margin: 0;
    padding: 0;
}


.header {
    width:auto;
    margin: 0 auto;
}

.box {
    width: 1400 auto;
    padding: 0 0;

}

.background {
    background-image: url('C:/Users/User/Desktop/Сайтище/img/coffe.webp') ;
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
}

.logo {
 width: 80%;
 margin: 0 auto;
}

.coffe-news {
    width: 50%;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 50px;
}

.coffe-news h1 {
 
    font-family: 'nunito';
    color: white;
    margin-left: 25px;
    text-align: center;
    margin-right: 50%;
    width: 50%;
 
}
.coffe-news p {

    font-family: 'nunito';
    color: rgb(255, 232, 213);
    margin-left: 25px;
    text-align: justify;
    margin-right: 50%;
    width: 50%;
 
}

.form {
    width:50%;
    margin: 0 auto;
    font-family: 'nunito';
    color: white;
    margin-left: 25px;
    text-align: center;
}
.input {
    margin-top: 7px;
    border-radius: 7px;
width: 100%;
}

.button {
    width: 163px;
    height: 30px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
}

.button {
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    position: relative;
  }
  
