    
    *{
        padding: 0;
        margin: 0;
    }
    html,
    body{
        height: 100%;
        position: relative;
        background: no-repeat;
        background: rgb(0, 0, 0);
        background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.97) 44%);
        
    }
    body{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        font-family: 'Architects Daughter', cursive;
        font-size: 14px;
        background: no-repeat;        
    }
    .page{
        min-width: 100%;
        position: relative;
    }
    .container{
        width: 1170px;
        margin: 50px auto;
    }
    .header{
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        padding-top: 5px;
        background: rgb(5,2,51);
        background: linear-gradient(239deg, rgba(5,2,51,1) 0%, rgba(6,3,20,0.9304096638655462) 50%);
        }
    .header .container{
        width: 435px;
        align-items: center;
        font-family: 'Architects Daughter', cursive;
        font-size: 15px;
        text-align: center;
        color: #dfdcd9;
        }
    .banner_matrix{
        background: url("../img/bac.gif") no-repeat;
        background-size: 100%;
        width: 100%;
        height: 600px;
        margin: 0 auto;
        padding: 100px 0;
        background-position: center;
        color: #dfdcd9;      
        }
    .footer{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px 0;
        padding-top: 5px;
        background: rgb(5,2,51);
        background: linear-gradient(239deg, rgba(5,2,51,0.3) 0%, rgba(6,3,20,0.3) 50%);
        }
    .footer .container{
        width: 435px;
        align-items: center;
        font-family: 'Architects Daughter', cursive;
        font-size: 15px;
        text-align: center;
        color: #dfdcd9;
        }

    .img{
        width: 500px;
        height: 500px;
        display: block;
        margin-bottom: 20px;
        
        margin: 0 auto;
    }
    .text{
        width: 500px;
        height: 500px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
        }
    .botton{
        width: 300px;
        height: 100px;
        border-radius: 10px;
        background: rgba(194, 214, 14, 0.2);
        text-align: center;
        
    }
    .flex-container-order{
        background: rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        width: 1100px;
        height: 500px;
        display: flex;

    }
    .flex-container-order > div{
        background: rgba(0, 0, 0, 0.5);
        width: 500px;
        margin: 10px;
        text-align: 75px;
        font-size: 36px;
        color: #ffff;
    }
    .flex-container-order div:nth-child(1){
        order: 2;
    } 
    .flex-container-order div:nth-child(2){
        order: 1;
    } 
    
    

   
	
    

/*font-family: 'Architects Daughter', cursive;
font-family: 'Quintessential', cursive;*/
