@font-face {
  font-family: 'icofont';
  src:  url('../fonts/');
  src:  url('../fonts/icofont.eot?lhxgly#iefix') format('embedded-opentype'),
    url('../fonts/icofont.ttf?lhxgly') format('truetype'),
    url('../fonts/icofont.woff?lhxgly') format('woff'),
    url('../fonts/icofont.svg?lhxgly#icofont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icofont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
  content: "\e900";
}
.icon-times:before {
  content: "\e901";
}
