@media (min-width: 1200px){
    .nav-wrapper, .container {
        max-width: 1105px;
    }
}
/*---breakpoints:
            xs: 0,
            sm: 576px,
            md: 768px,
            lg: 992px,
            xl: 1200px,
            xxl: 1400px
---*/
@media (max-width: 1400px) { 
    
}

@media (max-width: 1200px) { 
    .slider-carousel #slider-img .item img {
        width: auto;
    }
}
@media (max-width: 1025px) {
    .youtube {
        height: 524px;
    }    
    .video-blok iframe {
    max-height: 524px;
    }
}

@media (max-width: 992px) { 
  
   ul.list-menu {
        padding-top: 7px;
        justify-content: flex-end;
   }
   .logo-burger {
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   .baner, .frame-img {
       padding-top: 0;
       padding-bottom: 40px;
   }
   .text-baner h1 {
       text-align: center;
   }
   .text-baner p {
       margin: 30px auto;
       text-align: center;
   }
   .about-me {
       padding: 50px 0;
   }
   .about-me h2, .form-box h2 {
        margin-bottom: 0;
   }
   .about-me p {
        margin-top: 30px;
        margin-bottom: 0px;
   }
   .numbers {
       padding: 40px 0;
   }
   .skills {
       padding: 40px 0;
   }
   .skills-list h2 {
       text-align: center;
   }
   .skill-img {
       margin: 0 auto;
   }
   .video-blok {
       padding: 40px 0;
   }
   .video-blok h2 {
       margin-bottom: 0;
   }
   .video-blok p {
       margin: 40px auto;
   }
   .youtube {
       max-height: 387px;
   }
   .video-blok iframe {
    max-height: 387px;
    }
    .slider-carousel {
        padding: 60px 0;
    }
    #slider-img .item img {
        margin: 0 auto;
    }
    .btn-form-page {
        margin-top: 40px;
    }
}

@media (max-width: 768px) { 
    .nav-menu {
        display: none;
    } 
    .burger-menu {
         display: block;
         
    }
    

    /*--------*/
    body {
    position: relative;
  }

  nav#navMenu {
    display: none;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(16, 73, 126, 0.9);
    /*position: fixed;*/
    max-width: 300px;
    width: 100%;
    padding: 20px;
    
  }

  label[for=burger] {
    display: block;
    font-size: 35px;
    color: rgb(16, 73, 126);
  }

  label[for=burger]:before {
    content:"\e900"; /*--сгенерированый IconFont*/
    font-size: 35px;
    font-family: 'icofont';
  }
  #burger:checked + label[for=burger]::before {
    content: "\e901"; /*--сгенерированый IconFont*/
    /*font-size: 35px;*/
    font-family: 'icofont';
    color: red;
  }
  
  .nav-menu ul {
    display: block;
    
  }
  #burger:checked + label + nav#navMenu {
    display: block;
    z-index: 100;
    
  }
  
  ul.list-menu li.item-list-menu a {
      color: #fff;
      padding: 10px 10px;
  }
  ul.list-menu li.item-list-menu a:hover {
    /*text-decoration: underline;*/
    color: #9bc7fd;

    }    /*--------*/
    .text-baner h1 {
       font-size: 32px;
    }   
    .text-baner p, .about-me p, .video-blok p, .form-box p {
        margin: 20px auto;
    }
    .about-me h2,  .video-blok h2, .skills-list h2, .form-box h2 {
        font-size: 24px;
    }
    .youtube {
        max-height: 286px;
    }
    .video-blok iframe {
        max-height: 286px;
        }
    .btn-baner {
        display: block;
        margin: 0 auto;
    }
    .youtube .play {
        height: 60px;
        width: 60px;
    }
    .youtube .play:hover  {
        background-position: 0 -60px;
    }
    .box-gallery {
        width: 50%;
    }
    .form-box {
        padding: 60px 0;
    }
    .wrapper-input {
        max-width: 510px;
    }
    .wrapper-form textarea {
       max-width: 510px;
    }
}

@media (max-width: 576px) { 
    .youtube, .video-blok iframe {
        max-height: 152px;
    }
    
    .wrapper-input {
        flex-direction: column;
    } 
    .wrapper-input input {
        margin-top: 10px;
        width: 100%;
    } 
    .footer {
        padding: 30px 10px;
    }
    .wrapper-footer {
        flex-direction: column 
    }
    .text-footer {
        margin-top: 0px;
        margin-bottom: 10px;
    }
 }

@media (max-width: 375px) { 
    .box-gallery {
        width: 100%;
    }
}
@media (max-width: 282px) {
    .youtube {
        height: 141px;
    }    
    .video-blok iframe {
    max-height: 141px;
    }
    nav#navMenu {
        
        max-width: 250px;
        width: 100%;
        padding: 20px;
        
      }
}