<style>
    html,
    body{
        height: 100%;
        position: relative;
    }
    body{
        z-index: -1;
        animation: background 1s infinite alternate;
        display: block;
        position: relative;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        font-family: 'Architects Daughter', cursive;
        font-size: 14px;
    }
    .for_page{
        min-width: 100%;
        position: relative;
    }
    .page{
        padding-bottom: 60px;
    }
    *{
        margin: 0;
        padding: 0;
    }
    img{
        width: auto;
        height: auto;
        max-width: 100%;
    }
    p{
        margin-bottom: 200px;
    }
    .container{
        width: 1170px;
        margin: 0 auto;
    }
    .header{
        padding-top: 5px;
        background: rgb(5,2,51);
        background: linear-gradient(239deg, rgba(5,2,51,1) 0%, rgba(6,3,20,0.9304096638655462) 50%);
    }
    .fl{
        float: left;
    }
    .fr{
        float:right;
    }
    .clear{
        clear: both;
    }
    .header_box1{
        width: 100px;
    }
    .header_box2{
        width: 700px;
        align-items: center;
        font-family: 'Architects Daughter', cursive;
        font-size: 30px;
        text-align: center;
        color: #dfdcd9;
    }
    .header_box3{
        width: 370px;
    }
    .header_box3 a{
        display: block;
        text-align: right;
        text-decoration: none;
        color: #dfdcd9;
        font-weight: bold;
        line-height: 22px;
    }
    .header_box3 a:hover{
        text-decoration: underline;
    }
    .nav{
        background: rgb(3,1,40);
        background: linear-gradient(45deg, rgba(3,1,40,1) 0%, rgba(6,3,20,0.969625350140056) 44%);
    }
    .nav ul{
        list-style: none;
    }
    .nav ul li a{
        color: #dfdcd9;
        text-decoration: none;
        padding: 15px 25px;
        display: inline-block;
        font-size: 16px;
    }
    .nav ul li a:hover{
        background: rgb(6,2,69);
        background: linear-gradient(239deg, rgba(6,2,69,1) 0%, rgba(6,3,20,0.7903536414565826) 65%);
    }
    .nav ul li{
        display: inline-block;
        position: relative;
    }
    .nav ul.sub-menu li ul.cild-sub-menu{
        display: none;
        position: absolute;
        background: rgb(6,2,69);
        background: linear-gradient(239deg, rgba(6,2,69,1) 0%, rgba(6,3,20,0.7903536414565826) 65%);
        width: 200px;
        top: 49px;
        left: 0;
        z-index: 100;
    }
    .nav ul.sub-menu li ul.cild-sub-menu li a,
    .nav ul.sub-menu li ul.cild-sub-menu li{
        display: block;
    }
    .nav ul.sub-menu li:nth-child(4):hover ul.cild-sub-menu{
        display: block;
    }

    /*main*/

    .banner{
        background: url("img/banner_4728_16.jpg") no-repeat;
        background-size: 100%;
        width: 100%;
        padding: 200px 0;
        background-position: center;
    }
    .text_banner_parent{
        width: 506px;
        position: relative;
        padding: 18px;
        border-radius: 20px;
        text-align: center;
        color: rgba(5,2,51,0.2)
    }
    .text_banner_parent:before{
        content: "";
        filter: blur(10px);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .text_banner_parent h1{
        font-size: 50px;
        font-family: 'Architects Daughter', cursive;
        color: #dfdcd9;
    }
    .text_banner_parent h1 p{
        font-size: 40px;
        font-family: 'Quintessential', cursive;
        color: #dfdcd9;
    }
    .abaut{
        padding: 60px 0;
    }
    .abaut_text{
        width: 50%;
        padding-left: 30px;
        box-sizing: border-box;
    }
    .abaut_img{
        width: 50%;
        padding-right: 30px;
        box-sizing: border-box;
    }

    .footer{
        padding-top: 5px;
        background: rgb(5,2,51);
        background: linear-gradient(239deg, rgba(5,2,51,1) 0%, rgba(6,3,20,0.9304096638655462) 50%);
    }
    .fl{
        float: left;
    }
    .fr{
        float:right;
    }
    .clear{
        clear: both;
    }
    .footer_box1{
        width: 100px;
    }
    .footer_box2{
        width: 700px;
        align-items: center;
        font-family: 'Architects Daughter', cursive;
        font-size: 30px;
        text-align: center;
        color: #dfdcd9;
    }
    .footer_box3{
        width: 370px;
    }
    .footer_box3 a{
        display: block;
        text-align: right;
        text-decoration: none;
        color: #dfdcd9;
        font-weight: bold;
        line-height: 22px;
    }
    .footer_box3 a:hover{
        text-decoration: underline;
    }
    

/*font-family: 'Architects Daughter', cursive;
font-family: 'Quintessential', cursive;*/


</style>