* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
img {
    width: auto;
    height: auto;
    max-width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/*header*/
.header {
    background: #EEEEF1;
    padding-top: 57px;
}
/*menu*/
    .nav_menu ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }
    .nav_menu ul li a {
        padding-right: 42px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.1em;
        color: #34547A;
        transition: 0.5s;
    }
    .nav_menu ul li a:hover {
        text-decoration: none;
        color: darkcyan;
    }
    .nav_menu ul li:last-child a{
        padding-right: 0
    }
/*menu*/
/*header*/

/*banner*/
.banner {    
    background: #EEEEF1;
    padding-top: 165px;
    padding-bottom: 146px;
}
.banner_img img {
    margin: 0 auto;
    display: block;
}
.banner_img {
    padding-top: 21px;
}
.text_banner h1 {    
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;
    padding-bottom: 60px;
    margin-bottom: 0;
}
.text_banner p {    
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 60px;
}
.btn_banner {
    background: #34547A;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;    
    color: #FFFFFF;
    padding: 15px 30px;
    transition: 0.3s linear;
}

.btn_banner:hover {
    background: darkcyan;
}
/*banner*/

/*about*/
.about {
    padding: 119px 0 100px 0;
}
.about h2 {    
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.about p {
    font-size: 16px;
    line-height: 26px;
    text-align: center;    
    color: #727272;
    max-width: 540px;
    margin: 0 auto;
}
/*about*/

/*project*/
.container_proj {
    background: #34547A;
    padding: 100px 0;   
}

.proj_img {
    display: flex;
    align-items: center;
    margin: 10px;
}
.proj_img h3 {    
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 0;
    padding-left: 15px;
}
.proj_img p {    
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 15px;
}
/*project*/