@media (min-width: 1440px) { 
	.for_page .container {
		max-width: 1170px;
		padding: 0;
	}

}


@media (max-width: 1440px) { 

}
@media (max-width: 992px) { 

	header .menu{
		display: none;
	}


}


@media (max-width: 768px) { 
	

}



@media (max-width: 578px) {


}

@media (max-width: 396px) {

}

@media (max-width: 350px) { 



}
